.about_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;
    left:0;
    width:100vw;
    height: 100vh;
    background-image: url(/public/assets/superstars.jpg);
    background-repeat:round;
    color:aliceblue;
    text-align: center;
}

h1{ 
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-size: 3.5rem;;
    font-style: normal;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem; /* Espacio entre los elementos */
    width: 90%;
}

.info_about {
    flex: 1;
    text-align: left;
    font-size: 1.3rem;
}

.about_photo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.photo {
    width: 35vw;
    object-fit: cover;
    padding: 1rem;
    border-radius: 50%;
}
